<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDonDHService1" />
                <binding name="BasicHttpBinding_INguoiDungService1" />
                <binding name="BasicHttpBinding_INhaSXService1" />
                <binding name="BasicHttpBinding_ITonKhoService11" />
                <binding name="BasicHttpBinding_ICtDonDHService1" />
                <binding name="BasicHttpBinding_ICtPhieuNhapService1" />
                <binding name="BasicHttpBinding_IPhieuNhapService1" />
                <binding name="BasicHttpBinding_ISanPhamService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfUngDungWeb/DonDHService1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDonDHService1"
                contract="DonDHServiceReference.IDonDHService1" name="BasicHttpBinding_IDonDHService1" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfUngDungWeb/NguoiDungService1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INguoiDungService1"
                contract="NguoiDungServiceReference.INguoiDungService1" name="BasicHttpBinding_INguoiDungService1" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfUngDungWeb/NhaSXService1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INhaSXService1"
                contract="NhaSXServiceReference.INhaSXService1" name="BasicHttpBinding_INhaSXService1" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfUngDungWeb/TonKhoService1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITonKhoService11"
                contract="TonKhoServiceReference.ITonKhoService1" name="BasicHttpBinding_ITonKhoService11" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfUngDungWeb/CtDonDHService1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICtDonDHService1"
                contract="CtDonDHServiceReference.ICtDonDHService1" name="BasicHttpBinding_ICtDonDHService1" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfUngDungWeb/CtPhieuNhapService1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICtPhieuNhapService1"
                contract="CtPhieuNhapServiceReference.ICtPhieuNhapService1"
                name="BasicHttpBinding_ICtPhieuNhapService1" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfUngDungWeb/PhieuNhapService1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhieuNhapService1"
                contract="PhieuNhapServiceReference1.IPhieuNhapService1" name="BasicHttpBinding_IPhieuNhapService1" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfUngDungWeb/SanPhamService1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISanPhamService1"
                contract="SanPhamServiceReference.ISanPhamService1" name="BasicHttpBinding_ISanPhamService1" />
        </client>
    </system.serviceModel>
</configuration>