@{
    ViewBag.Title = "Danh sách";
    Layout = "~/Views/Shared/Customer.cshtml";
    List<WebForm.SanPhamService.SanPham> category = new WebForm.SanPhamService.SanPhamService1Client().Category(Model).ToList();
}
<link href="~/Content/PagedList.css" rel="stylesheet" />

@model int
<section id="category-grid">
    <div class="container">
        <!-- ========================================= SIDEBAR ========================================= -->
        <div class="col-xs-12 col-sm-3 no-margin sidebar narrow">
            <!-- ========================================= CATEGORY TREE ========================================= -->
            <div class="widget accordion-widget category-accordions">
                <h1 class="border">Danh mục</h1>
                <div class="accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
                                Sản phẩm
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <ul>
                                    <li>
                                        <div class="accordion-heading">

                                        </div>
                                        <div id="collapseSub1" class="accordion-body collapse in">
                                            <ul>
                                                <li><a href=" /Home/Category?id=1 ">Laptop Acer</a></li>
                                                <li><a href=" /Home/Category?id=2">Laptop Samsung</a></li>
                                                <li><a href=" /Home/Category?id=3">Laptop HP</a></li>
                                                <li><a href=" /Home/Category?id=4">Laptop Dell</a></li>
                                                <li><a href=" /Home/Category?id=5">Laptop Apple</a></li>
                                            </ul>
                                        </div><!-- /.accordion-body -->
                                </ul>
                            </div><!-- /.accordion-inner -->
                        </div>
                    </div><!-- /.accordion-group -->

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse3">
                                Giới thiệu
                            </a>
                        </div>
                        <div id="collapse3" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <ul>
                                    <li><a href=" /Home/Shopinfor">Giới thiệu</a></li>

                                </ul>
                            </div>
                        </div>
                    </div><!-- /.accordion-group -->

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse3">
                                Liên hệ
                            </a>
                        </div>
                        <div id="collapse3" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <ul>
                                    <li><a href=" /Home/Shopinfor">Giới thiệu</a></li>
                                    <li><a href="#">Liên hệ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.accordion-group -->

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse3">
                                Bảo hành
                            </a>
                        </div>
                        <div id="collapse3" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <ul>
                                    <li><a href=" /Home/Shopinfor">Giới thiệu</a></li>
                                    <li><a href="#">Liên hệ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.accordion-group -->

                </div><!-- /.accordion -->
            </div><!-- /.category-accordions -->

        </div>
        <!-- ========================================= SIDEBAR : END ========================================= -->
        <!-- ========================================= CONTENT ========================================= -->
        <div class="col-xs-12 col-sm-9 no-margin wide sidebar">

            <section id="gaming">
                <div class="grid-list-products">
                    <h2 class="section-title">Sản Phẩm</h2>
                    <div class="tab-content">
                        <div id="grid-view" class="products-grid fade tab-pane in active">

                            <div class="product-grid-holder">
                                <div class="row no-margin">
                                    @foreach (var p in category)
                                    {
                                        <div class="col-xs-12 col-sm-4 no-margin product-item-holder hover">
                                            <div class="product-item">
                                                <div class="image "><img src="@Url.Content("~/Images/product/"+@p.Hinh)" /></div>
                                                <div class="body">
                                                    <div class="label-discount clear"></div>
                                                    <div class="title" style="color:red">
                                                        <a href="/Home/Detail?id=@p.NhaSX_ID">@p.TenSP</a>
                                                    </div>
                                                    @*<div class="brand">Còn lại: @</div>*@
                                                </div>
                                                <div class="prices">
                                                    <div class="price-current text-right" style="font-size: 20px">
                                                        Giá: @String.Format("{0:0,0}", @p.DonGia) đ
                                                    </div>
                                                    <div class="hover-area">
                                                        <div class="add-cart-button">
                                                            <a href="single-product.html" class="le-button">Thêm vào giỏ hàng</a>
                                                        </div>
                                                        <div class="wish-compare">
                                                            <a class="btn-add-to-wishlist" href="#">Yêu thích</a>
                                                            <a class="btn-add-to-compare" href="#">So sánh</a>
                                                        </div>
                                                    </div>
                                                </div><!-- /.product-item -->
                                            </div><!-- /.product-item-holder -->
                                        </div><!-- /.row -->
                                    }

                                </div><!-- /.product-grid-holder -->

                            </div><!-- /.products-grid #grid-view -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</section>

